nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    gap: 10px;

    color: black;
    background-color: white;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.logo_navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: orange;
    border-radius: 13px;
}

#nav_input_buscar_tarefas {

    padding: 13px;
    border: none;
    border-radius: 7px;
    background-color: #f3f4f6;
    color: gray;
}

#nav_input_buscar_tarefas:focus {
    outline: none;
}

#container_nav_input_buscar_tarefas {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f3f4f6;
    border-radius: 7px;
    padding-left: 14px;
}

#btn_nav_add_new_task {
    color: white;
    background: orange;
    border: none;
    padding: 10px 15px;
    border-radius: 7px;
    cursor: pointer;
}

.modal_create_new_task {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    height: 700px;
    width: 700px;

    border-radius: 20px;
    background-color: white;
}

#title_navbar{
    margin: 0;
}

#subtitle_navbar {
    margin: 0; color: gray; font-size: 14px;
}

.bg_modal_create_task {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}







/* From Uiverse.io by 3bdel3ziz-T */ 
.select {
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: 300ms;
  color: white;
  overflow: hidden;
}

.selected {
  background-color: #2a2f3b;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 100000;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: white;
  z-index: 100000;
  transition: 300ms;
}

.options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #2a2f3b;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: #2a2f3b;
  width: 150px;
  font-size: 15px;
}
.option:hover {
  background-color: #323741;
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}
.options label::before {
  content: attr(data-txt);
}

.options input[type="radio"]:checked + label {
  display: none;
}

.options input[type="radio"]#all:checked + label {
  display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before {
  content: attr(data-default);
}
.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
  content: attr(data-one);
}
.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
  content: attr(data-two);
}
.select:has(.options input[type="radio"]#option-3:checked) .selected::before {
  content: attr(data-three);
}
.select:has(.options input[type="radio"]#option-4:checked) .selected::before {
  content: attr(data-four);
}
