<!-- task-list.html -->

<ng-container *ngIf="showModalCreateTask()">
</ng-container>
<div class="task-list">
  <h1 style="margin: 0;">Minhas tarefas</h1>
  <p style="margin-top: 0;">{{ tasks().length }} tarefas</p>

  <div style="display: flex; gap: 15px;">
  <div class="statistics_card">
    <p style="color: gray; margin: 0;">Pendentes</p>
    <p style="font-size: 32px; color: gray; margin: 0;">{{ pendingTasks() }}</p>
  </div>

  <div class="statistics_card">
    <p style="color: gray; margin: 0;">Concluídas</p>
    <p style="font-size: 32px; color: gray; margin: 0;">{{ completedTasks() }}</p>
  </div>
  </div>

  <app-task-item *ngFor="let task of tasks(); trackBy: trackById" [task]="task">
  </app-task-item>
</div>

<ng-container *ngIf="tasks().length === 0">
  <p>Nenhuma tarefa ainda. Adicione uma!</p>
</ng-container>