<ng-container *ngIf="showModalCreateTask()">
</ng-container>
<div class="task-list">
  <h1 style="margin: 0;">Minhas tarefas</h1>
  <p style="margin-top: 0;">{{ tasks().length }} tarefas</p>

  <div style="display: flex; gap: 15px;">
  <div class="statistics_card">
    <p class="subtitle_statistics_card">Pendentes</p>
    <p class="statistic_numbers">{{ pendingTasks() }}</p>
  </div>

  <div class="statistics_card">
    <p class="subtitle_statistics_card">Concluídas</p>
    <p class="statistic_numbers">{{ completedTasks() }}</p>
  </div>
  </div>

  <app-task-item *ngFor="let task of filteredTasks(); trackBy: trackById" [task]="task">
  </app-task-item>
</div>

<ng-container *ngIf="tasks().length === 0">
  <p>Nenhuma tarefa ainda. Adicione uma!</p>
</ng-container>