* {
    font-family: sans-serif;
}

*::first-letter {
  text-transform: uppercase;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

/*
 Explicando decisão não usual: 
 Esta classe abaixo modifica o date-picker importado do Angular materials. Pq aqui? Pq o Angular Materials encapsula (protege) o css dos elementos, apenas sendo acessível pelo css global!
*/
.mdc-notched-outline{
  display: none !important;
}